<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dexhand21s_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>dexhand21s_hardware_interface/DexHand21sHardwareInterface</plugin>
        <param name="device_id">1</param>
        <param name="angular_velocity">10</param>
        <param name="sampling_rate">50</param>
      </hardware>

      <joint name="joint_f_1_2">
        <param name="finger_id">1</param>
        <command_interface name="position">
          <param name="min">-1.3</param>
          <param name="max">0.0</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="temperature"/>
        <state_interface name="current"/>
      </joint>

      <joint name="joint_f_2_2">
        <param name="finger_id">2</param>
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">1.3</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="temperature"/>
        <state_interface name="current"/>

      </joint>

      <joint name="joint_f_3_2">
        <param name="finger_id">3</param>
        <command_interface name="position">
          <param name="min">0.0</param>
          <param name="max">1.3</param>
        </command_interface>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="temperature"/>
        <state_interface name="current"/>

      </joint>

    </ros2_control>

  </xacro:macro>

</robot>
